# Frontend Environment Variables

# Base URL for the backend API
VITE_API_BASE_URL=http://localhost:5000/api

# Frontend application URL (used for CORS setup in backend, and potentially for redirects)
VITE_FRONTEND_URL=http://localhost:5173

# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_VAPID_KEY=your_vapid_key
