node_modules
dist
dist-ssr
*.local
.env
backend/.env
backend/config/serviceAccountKey.json
backend_log.txt
frontend_log.txt
test_otp.json
backend/config/serviceAccountKey.json

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
